{% extends 'base.html' %}


{% block title %}Login Page{% endblock %}

{% block body %}

<form action="#" method="post">
   <!-- <h1>num1 : </h1>
   <p><input type="number" name="num1"></p>
   <h1>num2 : </h1>
   <p><input type="number" name="num2"></p> -->
   <table>
      <tr>
         <td>Name</td>
         <td><input type="text" name="nm" value="{{request.form['nm']}}">
         <ul>
            {% for e in errors["uname"] %}
            <li>{{e}}</li>
            {% endfor %}
         </ul></td>
      </tr>
      <tr>
         <td>Email</td>
         <td><input type="email" name="mail" value="{{request.form['mail']}}"></td>
      </tr>
      <tr>
         <td><input type="submit" value="submit"></td>
      </tr>
   </table>
   
   <p></p>
</form>

{% endblock %}
